@import url(vars.css);
@import url(reset.css);

@font-face {
    font-family: "myFont";
    src: url(../font/Archivo-VariableFont_wdth\,wght.ttf);
}

img{
    max-width: 100%;
    max-height: 100%;
}
.logo{
    width: min(100px, 100%);
}
.dots__pattern{
    display: none;
}


body{
    font-family: "myFont";
    background-color: var(--CLR-blackBlue);
    height: 100vh;
}
main{
    position: relative;
    height: 100%;

}
.hero{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}
.hero__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content{
    height: 100%;
    background-color: #121725b5;
    color: white;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.content__text{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;

}

.text__header{
    text-transform: uppercase;
    font-weight: 100;
    font-size: clamp(1rem, 7vw, 3rem);
    line-height: clamp(1.3rem, 7.2vw, 3.3rem);
}
.text__header>span{
    color: var(--CLR-green);
}
.text__body{
    color: var(--CLR-paleBlue);
    font-size: clamp(.4rem, 4vw, 1.4rem);
    line-height: clamp(1rem, 6vw, 1.6rem);
}

.CTA{
    display: flex;
    flex-flow: column;
    gap: 2rem;
    max-width: 21.875rem;
}
form{
    display: flex;
    flex-flow: column;
    gap: 10px;
    order: 2;
}

input[type="email"]{
    background-color: var(--CLR-blackGrey);
    border: none;
    border-radius: 2rem;
    padding-block: .83rem;
    padding-inline-start: 1rem;
    font-weight: 700;
    color: white;
}
input[type="email"]:focus{
    outline: none;
}
button{
    background-color: var(--CLR-green);
    border: none;
    border-radius: 2rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    font-family: "myFont";
    font-weight: 600;
    transition: all .3s ease;
}
button:hover{
    background-color: var(--CLR-lightGreen);
}
button:active{
    background-color: brown; 
}
.errorMessage{
    order: 3;
}
.collaborators{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: baseline;
    order: 1;
}
.collaborators>img{
    width: clamp(30px, 18vw, 70px);
    
}



/* for tablet */

@media(min-width:31.25rem){

    body{
        display: grid;
        place-content: start center;
    }
    main{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 6.56rem);
        position: relative;
    }

    .logo{
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 100px;
    }


    .hero{
        text-align: end;
        position: static;
        grid-area: 1 / 3 / 7 / 7;
    }
    .hero__img{
        width: auto;
        object-fit: contain;
    }
    .content{
        grid-area: 3 / 1 / 7 / 6 ;
        background-color: var(--CLR-blackBlue);
        text-align: start;
        padding-block-start: 3rem;
        padding-inline-start: 2rem;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
    }
    .content__text{
        gap: 0.5rem;
    }
    .text__header{
        font-size: 2.5rem;
        line-height: 2.7rem;
        text-transform: uppercase;
        font-weight: 100;
    }
    .text__body{
        font-size: var(--FS-body);
        line-height: var(--Lh-body); 
        color: var(--CLR-paleBlue);
        width: min(21.875rem, 100%);
    }
    .CTA{
        gap: 1rem;
        max-width: max-content;
    }

    form{
        flex-flow: row;
        background-color: var(--CLR-blackGrey);
        border-radius: 2rem;
        max-width: 23.125rem;
        order: 1;
        padding-inline: .5rem;
        padding-block: .5rem;
    }
    input[type="email"]{
        flex: 2 1 auto;
    }
    button{
        flex: 1 1 auto;
        font-weight: 700;
    }
    .errorMessage{
        order: 2;
    }
    .collaborators{
        order: 3;
        flex-flow: nowrap;
    }
    .collaborators>img{
        width: clamp(30px, 18vw, 120px);
    
    }
    .dots__pattern{
        display: inline-block;
        position: absolute;
        bottom: -11.875rem;
        left: 0;    
    }

}


/* for desktop */


@media(min-width:62.5rem){
    body{
        place-content: center end;
        overflow: hidden;
        padding-inline-start: 10rem;

    }
    main{
        grid-template-rows: repeat(6, 6.25rem);
    }
    .hero__img{
        width:100%;
        height: 100%;
        object-fit: cover;

    }
    .content{
        grid-area: 2/1/7/5;
        max-width: calc(100% - 9rem);
        padding-block: 5rem 0;

    }

    .content__text{

        gap: 1.5rem;

    }
    .text__body{
        width: min(21.875rem, 100%);
    }

    .collaborators{
        gap: 2rem;
        margin-block-start: 1rem;
    }
    .collaborators>img{
        width: clamp(2rem, 7vw, 7.5rem);
        mix-blend-mode:difference;

    }

    .dots__pattern{
        position: absolute;
        right: 0;
        left: auto;
        bottom: -3.33rem;
    }
}
